@import "../assets/mixins.scss";

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  &__top {
    display: flex;
    justify-content: center;
    align-items: center;

    &_image {
    }
    &_logout {
      padding-bottom: 10px;

      .btn {
        @include btn;
      }
    }
    border-bottom: 2px solid grey;
  }

  &__content {
    .content {
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      align-items: flex-start;

      margin: 10px;
      padding: 4px;

      border: 1px solid black;
      border-radius: 10px;
    }

    .loop {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      margin-bottom: 50px;
    }
  }

  .login-box {
    padding: 30px 30px 20px 30px;

    background-color: lightgrey;

    &__image {
      margin-bottom: 10px;
    }
    &__google {
        margin-bottom: 15px;
      &_login {
        @include btn;
        width: 195px;

        background-color: white;
      }
    }
  }
}
